<div class="container main">
  <div class="row">
    <div class="col-md-12">

      <%= render 'shared/flash', flash: flash %>

      <p>Vesna equipment warranted to be free from defects in materials and workmanship for one-year from Start Date. Vesna will repair or replace, at its discretion, any such failed materials or parts covered under warranty.</p>
      <p>If you experience that your Vesna unit is not working properly, please follow the instructions below:</p>
      <ol>
        <li>Complete and submit the service request below. Once completed, an email will notify you (via the email address indicated on the form) that a service request has been submitted. Vesna Technical Support will contact you during normal business hours to review your request.</li>
        <li>Upon Vesna approval, an email will be sent including the completed service request. Please print the service request and include it in the package of the unit being shipped for service.</li>
        <li> Return the malfunctioning Unit to the Vesna Warranty Center by following the instructions outlined on the email received.</li>
      </ol>

      <p>Additional Questions:</p>
      <p>All technical support and product warranty claims need to be submitted through Vesna corporate. Please contact us for any further details 1-800-901-4980</p>

      <%= render 'form' %>
    </div>
  </div>
</div>
