<footer>
  <div class="carousel-footer"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <%= image_tag "Made_In_America.png", id: "made_in_america" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" id="footer-nav">
        <ul class="navbar-nav nav">
          <li><a href="/contact">Contact</a></li>
          <li><a href="/service_requests/new">Support</a></li>
          <li>
              <%= link_to "Privacy", asset_path("VesnaTC.pdf"), target: '_blank' %>
          </li>
        </ul>
      </div>
      <div class="col-md-12" id="copyright">
        <small>Copyright &copy; <%= Time.now.year %> Vesna. All rights reserved</small>
      </div>
    </div>

  </div>
</footer>
