<section id="carousel-container">
  <div class="carousel fade" data-ride="carousel" id="main-carousel">

    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item" id="dancing">
        <%= image_tag "Hispanic_Couple.png", width: "100%" %>

        <div class="caption">
          <h3>rediscover the</h3>
          <h3>activities you</h3>
          <h1><span class="blue-gradient">love</span></h1>
        </div>

      </div>
      <div class="active item" id="jogging">
        <%= image_tag "running_couple.png", width: "100%" %>

        <div class="caption">
          <h3>inspired by</h3>
          <h1>the <span class="blue-gradient">sun's</span></h1>
          <h3>natural energy</h3>
        </div>
      </div>
      <div class="item">
        <%= image_tag "woman.png", width: "100%" %>

        <div class="caption">
          <h3>feel the</h3>
          <h1 id="biker"><span class="blue-gradient">light</span></h1>
        </div>
      </div>
    </div>

  </div>
</section>
