<div class="navbar navbar-top" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="brand-container">
        <a class="navbar-brand" href="#"></a>
      </div>
    </div>

    <div class="row">
      <div class="center-block" id="nav-container">
        <div class="pull-right">
          <ul class="navbar-nav nav">
            <li>
              <a href="#">Warranty &amp; Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="carousel-container">
  <div class="carousel slide" data-ride="carousel" id="main-carousel">

    <ol class="carousel-indicators">
      <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#main-carousel" data-slide-to="1"></li>
      <li data-target="#main-carousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="active item">
        <%= image_tag "Hispanic_Couple.png", width: "100%" %>
      </div>
      <div class="item">
        <%= image_tag "woman.png", width: "100%" %>
      </div>
      <div class="item">
        <%= image_tag "running_couple.png", width: "100%" %>
      </div>
    </div>

    <div class="carousel-footer"></div>

  </div>
</section>

<%= render 'shared/footer' %>
