<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag "Vesna-Specs-Pic.jpg", width: '500' %>
    </div>

    <div class="col-md-6">
        <h1>Experience the power of Vesna</h1>
        <p><b>Product Specifications</b></p>
        <table class="table table-condensed">
          <tbody>
              <tr>
                  <td>SMD (Surface Mount Diode) LEDs</td>
              </tr>
              <tr>
                  <td>700 Blue LEDs — 465nm</td>
              </tr>
              <tr>
                  <td>700 Red LEDs — 635 nm</td>
              </tr>
              <tr>
                  <td>700 Infrared LEDs — 780nm</td>
              </tr>
              <tr>
                  <td>2,100 total LEDs</td>
              </tr>
              <tr>
                  <td>Interface tactile buttons</td>
              </tr>
              <tr>
                  <td>0-30 minutes timer setting</td>
              </tr>
              <tr>
                  <td>1-9999 Hz</td>
              </tr>
              <tr>
                  <td>110-volt power outlet</td>
              </tr>
              <tr>
                  <td>Electrical 100 W, 100 - 240Vac, 5.56A, 50-60Hz</td>
              </tr>
          </tbody>
      </table>

    </div>
  </div>
</div>
