<p><%= image_tag("email_logo.jpg") %></p>

<p>Hello <%= @service_request.try(:customer_full_name) %></p>

<p>Thank you for submitting your service request. A customer service professional will contact you during normal business hours to review the service request. Any product or user functions can be handled at that time. In the meantime please review your product operation manual and directions.</p>

 <p>- Customer Support</p>
